$transition: () !default;
$transition: map-deep-merge(
	(
		"fast-out-slow-in": cubic-bezier(0.4, 0, 0.2, 1),
		"linear-out-slow-in": cubic-bezier(0, 0, 0.2, 1),
		"fast-out-linear-in": cubic-bezier(0.4, 0, 1, 1),
		"ease-in-out": cubic-bezier(0.4, 0, 0.6, 1),
		"fast-in-fast-out": cubic-bezier(0.25, 0.8, 0.25, 1),
		"swing": cubic-bezier(0.25, 0.8, 0.5, 1),
	),
	$transition
);

$ripple-animation-transition-in: transform 0.25s
		map-get($transition, "fast-out-slow-in"),
	opacity 0.1s map-get($transition, "fast-out-slow-in") !default;
$ripple-animation-transition-out: opacity 0.3s
	map-get($transition, "fast-out-slow-in") !default;
$ripple-animation-visible-opacity: 0.15 !default;
